@import url("https://cdn.jsdelivr.net/npm/modern-normalize@3.0.1/modern-normalize.min.css");

:root {
	line-height: 1.5;
	background-color: #f6f8f4;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

/* ---THESE ARE MY OWN PREFERENCES.--- */
p {
	max-inline-size: 66ch;
}

/* Removes the arrows inside input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

menu,
ol,
ul {
	padding: 0;
}
